.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  z-index: $z-header;
}

.site-main {
  padding-top: $header-height;
}

.site-container {
  max-width: $app-width;
}